<div class="ft-recipe">
    <div class="ft-recipe__thumb">
        <img src="<%= image_url %>" alt='<%= recipe_title %>' />
    </div>
    <div class="ft-recipe__content">
        <header class="content__header">
            <div class="row-wrapper">
                <span class="recipe-title"><%- recipe_title %></span>
            </div>

        </header>

        <footer class="content__footer">
            <ul class="recipe-details">

                <li class="recipe-details-item ingredients">
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="book-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-book-open fa-w-18 fa-3x"><path fill="currentColor" d="M514.91 32h-.16c-24.08.12-144.75 8.83-219.56 48.09-4.05 2.12-10.33 2.12-14.38 0C205.99 40.83 85.32 32.12 61.25 32h-.16C27.4 32 0 58.47 0 91.01v296.7c0 31.41 25.41 57.28 57.85 58.9 34.77 1.76 122.03 8.26 181.89 30.37 5.27 1.95 10.64 3.02 16.25 3.02h64c5.62 0 10.99-1.08 16.26-3.02 59.87-22.11 147.12-28.61 181.92-30.37 32.41-1.62 57.82-27.48 57.82-58.89V91.01C576 58.47 548.6 32 514.91 32zM272 433c0 8.61-7.14 15.13-15.26 15.13-1.77 0-3.59-.31-5.39-.98-62.45-23.21-148.99-30.33-191.91-32.51-15.39-.77-27.44-12.6-27.44-26.93V91.01c0-14.89 13.06-27 29.09-27 19.28.1 122.46 7.38 192.12 38.29 11.26 5 18.64 15.75 18.66 27.84l.13 100.32V433zm272-45.29c0 14.33-12.05 26.16-27.45 26.93-42.92 2.18-129.46 9.3-191.91 32.51-1.8.67-3.62.98-5.39.98-8.11 0-15.26-6.52-15.26-15.13V230.46l.13-100.32c.01-12.09 7.4-22.84 18.66-27.84 69.66-30.91 172.84-38.19 192.12-38.29 16.03 0 29.09 12.11 29.09 27v296.7z" class=""></path></svg>
                    <span class="value" id = "ingredientvalue"><%= ingredient_count %></span>
                    <span class="title">Ingredients</span>
                </li>
                <li class="recipe-details-item servings">
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user fa-w-14 fa-3x"><path fill="currentColor" d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" class=""></path></svg>
                    <span class="value" id= "servingvalue"><%= serving_number %></span>
                    <span class="title">Serving</span>
                </li>
            </ul>
            <% const maps_url = "https://www.google.com/maps/search/?api=1&query=" + encodeURI(recipe_title) %>
            <% if (recipe_url.startsWith("https://food52.com") || (recipe_url.startsWith("http://www.seriouseats.com"))) { %>
                <a href="<%= recipe_url %>" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Recipe</a>
            <% } else { %>
            <button class = "viewmodal" id= "addbutton" href="#viewrecipe" data-toggle="modal" value = "<%- recipe_url %>" >View Recipe</button>

            <% }; %>
            <a href= '<%- maps_url %>' target="_blank" rel="noopener noreferrer" style="margin-top: 10px; background-color: var(--fuelYellow);;">Find Restaurants</a>

            <% if (show_button) { %>
                <form action="/addFavourite" method="post">
                    <input type="hidden" name="recipe_title" value="<%- recipe_title %>">
                    <input type="hidden" name="image_url" value="<%- image_url %>">
                    <input type="hidden" name="ingredient_count" value="<%- ingredient_count %>">
                    <input type="hidden" name="serving_number" value="<%- serving_number %>">
                    <input type="hidden" name="recipe_url" value="<%- recipe_url %>">
                    <button style="margin-top: 10px; background-color: var(--primary);">Add to Favorites</button>
                </form>
            <% }; %>
        </footer>
    </div>
</div>